








@media  screen and (max-width:600px) {

  .form button {
        width: 322px;
        height: 50px;
        border: none;
        background-color: #ED116B;
    }
  
   .form input {
      width: 307px;
      margin-bottom: 20px;
      border: none;
      border-bottom: 2px solid #ED116B;
      background-color: transparent;
      color: black;
  } 
  
  .form textarea {
    width: 307px;
          height: 100px;
          border: none;
          border-bottom: 2px solid #ED116B;
          color: white; 
  }
  
  .forms-block {
    max-width: 100%;
  
    margin-top: 127px;
  }
    }


  




@media  screen and (max-width:637px) {
    .nav-toggle{
      display: block;
    }
    .nav-menu{
      position: fixed;
      top: 15vh;
      right: 0;
      width: 50%;
      height: 93vh;
      padding-bottom: 300px;
      background-color: black;
      flex-direction: column;
      transform: translateX(100%);
      transition:0.5s ease-in ;
      z-index: 99;
    }
  /* NAV ACTIVE CLASS */
    .nav-active {
      transform: translateX(0%);
    }

    .container-block {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      width: 311px;
      height: 500px;
      margin-top: 72px;
  }

  .container-description p span {
    color: white;
    font-weight: 300;
    font-size: 12px;
}
    .container-description {
      display: flex;
      flex-direction: column;
     /* background-color: #333333; */
     border-radius: 20px;
      
    }

.container-description img {
      width: 30%;
      margin-left: 114px;
  }

.container-description button {
    margin-left: 6px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 180px;
    color: white;
    background-color: #ED116B;
    font-family: 'open sans';
}

.search input{
  border-radius: 10px;
  width: 300px;
  height: 25px;


} 


  }
  
  
  @media  screen and (max-width:400px) {
    .search input{
        border-radius: 10px;
        width: 200px;
        height: 25px;
      
      
      }
    
    }