





  @media  screen and (max-width:607px) {
    .nav-toggle{
      display: block;
    }
    .nav-menu{
      position: fixed;
      top: 15vh;
      right: 0;
      width: 50%;
      height: 93vh;
      padding-bottom: 300px;
      background-color: black;
      flex-direction: column;
      transform: translateX(100%);
      transition:0.5s ease-in ;
      z-index: 99;
    }
  /* NAV ACTIVE CLASS */
    .nav-active {
      transform: translateX(0%);
    }

    .container-block {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      width: 311px;
      height: 500px;
      margin-top: 72px;
  }

  .container-description p span {
    color: white;
    font-weight: 300;
    font-size: 12px;
}
    .container-description {
      display: flex;
      flex-direction: column;
     /* background-color: #333333; */
     border-radius: 20px;
      
    }

.container-description img {
      width: 30%;
      margin-left: 114px;
  }

.container-description button {
    margin-left: 6px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 180px;
    color: white;
    background-color: #ED116B;
    font-family: 'open sans';
}

.search input{
  border-radius: 10px;
  width: 300px;
  height: 25px;


} 


  }


@media  screen and (max-width:600px) {

  .form button {
        width: 322px;
        height: 50px;
        border: none;
        background-color: #ED116B;
    }
  
   .form input {
      width: 307px;
      margin-bottom: 20px;
      border: none;
      border-bottom: 2px solid #ED116B;
      background-color: transparent;
      color: black;
  } 
  
  .form textarea {
    width: 307px;
          height: 100px;
          border: none;
          border-bottom: 2px solid #ED116B;
          color: white; 
  }
  
  .forms-block {
    max-width: 100%;
  
    margin-top: 127px;
  }

  .logo-dark-mode {
    width: 33%;
    margin-top: 60px;
    animation-delay: 1s;
    animation: fadeIn 1s ease-in both;
}
    }


  



    @media  screen and (max-width:449px) {
      .form-welcome input {
        border-radius: 20px;
        height: 40px;
        width: 250px;
       
    }

    .form-welcome button {
      background-color: #ED116B;
      border: none;
      font-family: 'open sans';
      width: 250px;
      height: 50px;
      margin-top: 20px;
      border-radius: 20px;
      color: white;
    
  }

  .logo-dark-mode {
    width: 42%;
    margin-top: 60px;
    animation-delay: 1s;
    animation: fadeIn 1s ease-in both;
}

.landing-text {
  color: darkgray;
  font-family: 'open sans';
  font-size: 13px;
  font-weight: 100;
}
      
      }

  
  
  @media  screen and (max-width:400px) {
    .search input{
        border-radius: 10px;
        width: 250px;
        height: 25px;
      
      
      }
    
    }

    @media  screen and (max-width:649px) {
      .presentation-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    }

 
    @media  screen and (max-width:841px) {
      .presentation {
        font-family: 'open sans';
        font-size: 16px;
        width: 319px;
        color: white;
    }
    
    }