@import 'bootstrap/dist/css/bootstrap.min.css';
::-webkit-scrollbar              { width: 5px; background-color : #0a0a0a; border-radius : 0px; }
::-webkit-scrollbar-button       { width: 5px; background-color : #ED116B; border-radius : 0px;}
::-webkit-scrollbar-track        { width: 5px; background-color : #0a0a0a; border-radius : 0px; }
::-webkit-scrollbar-thumb        { width: 5px;  background-color : #ED116B; border-radius : 0px;}

body{
 background-color:black;
 right: 0;
 left: 0;
}

.input-style{
  text-transform: capitalize;
}

.hide{
  display: none;
}

/*                                          CONTACT PAGE */
.forms-block {
	max-width: 100%;
}

.lets-talk-text {
  color:white;
  display: flex;
  justify-content: center;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 50px;
  animation: fadeIn 5s; 


}
.form {
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 50vh;
	-webkit-animation: opacity 8s forwards; 
	animation: opacity 3s forwards;
	
}

.form input{
  width: 500px;
	margin-bottom: 20px;
	border: none;
	border-bottom: 2px solid #ED116B;
	background-color:transparent;
	color:black;
}

.form textarea{
	width: 500px;
	height: 100px;
  margin-bottom: 20px;
	border: none;
	border-bottom: 2px solid #ED116B;
  background-color:transparent;
	color: white;
}

.form button {
  
  width: 506px;
	height: 50px;
	border: none;
	background-color: #ED116B;
}





/*                                         DISPLAY MOVIES PAGE */

.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:20px;
  

  }
  
  .movies-display{
   width: 250px;
   margin:1rem;
   margin-bottom: 100px;
  border-radius: 4px;
  text-align: center;
    
  }
 
  .movies-image{
   width:100%;
   border-radius: 10px;

  } 


  

.name-rate{
    display: flex;
    margin: 1rem;
    flex-direction: column;
    /* justify-content: space-around; */

  }

.name-rate .title{
  font-weight: bold;
  color:white;
  font-family: 'Open Sans'; 
  font-size: 12px;
  }

.name-rate .rate{
    color:gold;
    font-family: 'Open Sans';
    }

.add-fav-btn{
      background-color: black;
      width: 150px;
      height: 50px;
      font-size: 13px;
      border: none;
      font-family: 'Open Sans';
      color: white;
    }

.add-fav-btn-1{
      background-color: transparent;
      width: 150px;
      height: 50px;
      font-size: 13px;
      border: none;
      font-family: 'Open Sans';
      color: #ED116B ;
    }

.read-more-btn{
      background-color:transparent;
      border-radius: 20px;
      width: 100px;
      height: 50px;
      border: 2px solid #ED116B ;
      font-size: 12px;
font-weight: bold;
      color: white;
      font-family: 'Open Sans';
    }
  .read-more-btn:hover{
    background-color: #ED116B ;
    color: black;
  }



.search-component{
  display: flex;
  justify-content: center;
  /* max-width:600px;
  margin: 0 auto;*/
  margin-top: 50px; 
}

.search input{
    border-radius: 10px;
    width: 500px;
    height: 25px;
 
 
  } 

.search-component button{
    background-color: transparent;
    color: white;
    border: none;
    margin-top: -3px;
    font-family: 'Open Sans';
  }

 





                                                            /* MOVIE DESCRIPTION */ 


.discription-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
font-family: 'open sans';
 font-size: 12px;
 color: white;

}

.desc-title{
  font-family: 'open sans';
  font-size: 14px;
  color: #ED116B;
  font-weight: bold;
}

.release-date {
  font-size: 10px;
  font-family: 'open sans';
  font-weight: bold;
  color: white;
}

.ok {
  background-color: transparent;
}

.trailer {
  background-color: #ED116B;
  text-decoration: none;
  color: black;
  width: 300px;
  font-family: 'open sans';
  font-size: 12px;
  padding: 5px;
  height: 100px;
  border-radius: 10px;
}
.trailer:hover {
color: white;
}



                                                    /* NAVBAR */

.nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 15vh;
 background-color:black; 
 --bs-nav-link-hover-color: #ED116B;
}

.nav li{
list-style: none;

}


.nav-link{
  text-decoration: none;
  color: white;
  font-family: 'Open Sans';
  font-size: 14px;
}


.nav-link:hover{
  color: white;

}

.nav-link:hover{
  color: #ED116B;

}

.brand{
 margin-left: 20px ;
  z-index: 3;
  margin-top:-10px;
  text-decoration: none;
  color: #ED116B;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: bold;
  --bs-nav-link-hover-color: #ED116B;
}

.brand:hover{
color: white;
 }
.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.nav-toggle div {
  width: 40px;
  height: 2px;
  margin:5px;
  background-color: #ED116B;
  transition: 0.4s ease-in;
}

.nav-toggle {
  cursor: pointer;
  display: none;
}

  /* TOGGLE ICON ANIMATION */
.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
  }
    
.toggle .line2{
    opacity: 0;
    }
    
.toggle .line3{
      transform: rotate(45deg) translate(-4px, -5px);
    }
  







                                       /* PAGE HOME */ 

.home-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* background-color: pink; */
 
}
.presentation-block{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}

.hi-home{
  font-family: 'open sans';
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 50px;

}
.presentation{
  font-family: 'open sans';
  font-size: 16px;
  width: 500px;
  color: white;
}

.user-name{
  font-family: 'open sans';
  font-size: 29px;
  color: #ED116B;
  font-weight: 700;
  margin-top: -20px;
}


/*                         ABOUT PAGE     */


.about-text {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  width: 100%;
  align-items: center;
  
  }
  .about-me {
    font-family: 'open sans';
     color: white;
     font-weight: bold ;
     text-transform: uppercase;

   }
   
  .curley-brackets{
    color: #ED116B;
   }
  
  .this-project{
    font-family: 'open sans';
     color:#ED116B;
     font-size: 28px;
     text-transform: capitalize;
  }
  
  .about-description {
    max-width: 700px;
     font-family: 'open sans';
     color: white;
     text-align: justify;
  text-justify: inter-word;
  
     
  }



/*             FAVORITE MOVIE   */

.fav-container{
margin-top: 50px;
}

.fav-card{
  background-color: transparent;
}

.fav-text{
  font-family: 'open sans';
  color: white;
}

.fav-button {
  border: 1px solid white;
  color: white;
  font-family: 'open sans';
}

.fav-button:hover {
  color: #ED116B;
}

.fav-clear{
margin-top: 20px;
background-color: #ED116B;
margin-bottom: 20px;
border-radius: 20px;
color: white;
}


.nothing-yet{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
   height: 80vh;
   font-family: 'open sans';
  /*width: 80vh; */
}



/*                     WELCOME PAGE          */



.welcome-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}

.hello{
  font-family: 'open sans';
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  color: #ED116B;
  margin-top: 20px;
}


.form-welcome{
  display: flex;
  flex-direction:column;
}

.landing-text{
  color: darkgray;
  font-family: 'open sans';
  font-size: 16px;
  font-weight: 100;

}

.form-welcome input{
 border-radius: 20px;
 height: 40px;
 background-color: transparent;
 border: 2px solid #ED116B;
}

.form-welcome button {
  background-color:#ED116B;
  border: none;
  font-family: 'open sans';
  width: 380px;
  height: 50px;
  margin-top: 20px;
  border-radius: 20px;
  color: white;
}

.form-welcome button:hover {
  background-color:white;
  color: #ED116B;
}


.logo-dark-mode{
  width: 15% ;
  margin-top:60px;
  animation-delay: 1s;
  animation: fadeIn 1s ease-in both;
}




