@import 'bootstrap/dist/css/bootstrap.min.css';
::-webkit-scrollbar              { width: 5px; background-color : #0a0a0a; border-radius : 0px; }
::-webkit-scrollbar-button       { width: 5px; background-color : #ED116B; border-radius : 0px;}
::-webkit-scrollbar-track        { width: 5px; background-color : #0a0a0a; border-radius : 0px; }
::-webkit-scrollbar-thumb        { width: 5px;  background-color : #ED116B; border-radius : 0px;}

body{
 background-color:black;
 right: 0;
 left: 0;
}

.input-style{
  text-transform: capitalize;
}

.hide{
  display: none;
}

                                                               /*   CONTACT PAGE */

.form-section{
height:70vh;
display: flex;
justify-content: center;
align-items: center;

}

.form-section input{
  width: 500px;
  display: block;
  margin: 20px;
  font-size: 12px;
  border-width: 0 0 1px 0;
  border-color:black;
  outline: none;
  transition: border-color 0.2s;
}

.form-section textarea{
  width: 500px;
  display: block;
  margin: 20px;
  font-size: 12px;
  border-width: 0 0 1px 0;
  border-color:black;
  outline: none;
  transition: border-color 0.2s;
}

.form-section p{
font-weight: bold;
margin-left: 217px;
}

.form-section .submit-btn{
  border-width: 0;
  font-size: 16px;
  background-color: antiquewhite;
  width: 100px;
  height: 40px;
  transition: background-color 0.2;
  margin-left: 210px;
}

.form-section .submit-btn:hover{
background-color: blueviolet;
}



                                         /* DISPLAY MOVIES PAGE */

.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:20px;
  

  }
  
  .movies-display{
   width: 250px;
   margin:1rem;
   margin-bottom: 100px;
  border-radius: 4px;
  text-align: center;
    
  }
 
  .movies-image{
   width:100%;
   border-radius: 10px;

  } 


  

.name-rate{
    display: flex;
    margin: 1rem;
    flex-direction: column;
    /* justify-content: space-around; */

  }

.name-rate .title{
  font-weight: bold;
  color:white;
  font-family: 'Open Sans'; 
  font-size: 12px;
  }

.name-rate .rate{
    color:gold;
    font-family: 'Open Sans';
    }

.add-fav-btn{
      background-color: black;
      width: 150px;
      height: 50px;
      font-size: 13px;
      border: none;
      font-family: 'Open Sans';
      color: white;
    }

.add-fav-btn-1{
      background-color: transparent;
      width: 150px;
      height: 50px;
      font-size: 13px;
      border: none;
      font-family: 'Open Sans';
      color: #ED116B ;
    }

.read-more-btn{
      background-color:transparent;
      border-radius: 20px;
      width: 100px;
      height: 50px;
      border: 2px solid #ED116B ;
      font-size: 12px;
font-weight: bold;
      color: white;
      font-family: 'Open Sans';
    }
  .read-more-btn:hover{
    background-color: #ED116B ;
    color: black;
  }
.search-component{
  display: flex;
  max-width:600px;
  margin: 0 auto;
  margin-top: 100px;
}

.search input{
    border-radius: 10px;
    width: 500px;
    height: 25px;
 
 
  } 

.search-component button{
    background-color: transparent;
    color: white;
    border: none;
    margin-top: -3px;
    font-family: 'Open Sans';
  }

 





                                                            /* MOVIE DESCRIPTION */ 

.container-block{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 500px;
  
  
}

.container-description {
  display: flex;
  flex-direction: row;
 /* background-color: #333333; */
 border-radius: 20px;
  
}
.container-description img{
  width: 30%;
}
.container-description p{

  color: white;
  font-family: 'open sans';
  font-weight: 600;
  /* width: 400px; */
 
}

.container-description p span{
  color: white;
  font-weight: 300;
}

.container-description .title-Description{
  font-size: 20px;
  color: #ED116B ;
  font-family: 'open sans';
  text-transform: uppercase;
  font-weight: 800;

}

.block-description {
  margin-top: 50px;
  margin-left: 50px;
}

.container-description button{
margin-left: 200px;
border-radius: 10px;
border: none;
height: 40px;
width: 180px;
color:white;
background-color: #ED116B ;
font-family: 'open sans';
}







                                                    /* NAVBAR */

.nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 20vh;

background-color:black; 
}
.nav li{
list-style: none;

}

.nav-link{
  text-decoration: none;
  color: #ED116B;
  font-family: 'Open Sans';
  font-size: 12px;
}

.nav-link:hover{
  color: white;

}

.brand{
 margin-left: 20px ;
  z-index: 3;
  margin-top:-10px;
  text-decoration: none;
  color: white;
  font-family: 'Open Sans';
  font-size: 16px;
}
.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.nav-toggle div {
  width: 40px;
  height: 2px;
  margin:5px;
  background-color: black;
  transition: 0.4s ease-in;
}

.nav-toggle {
  cursor: pointer;
  display: none;
}

  /* TOGGLE ICON ANIMATION */
.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
  }
    
.toggle .line2{
    opacity: 0;
    }
    
.toggle .line3{
      transform: rotate(45deg) translate(-4px, -5px);
    }
  







                                       /* PAGE HOME */ 


.presentation-block {
	max-width: 700px;
	margin: 0 auto;
	

}

.presentation {
	color:white;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	font-family: 'open sans';
	font-weight: 300;
	animation: fadeIn 3s; 
  


}

.hi-home{
	color:white;
	position: relative;
	top: 120px;
	font-family:'open Sans';
	 font-weight: 700;
	 font-size: 40px;
	 animation: fadeIn 3s; 

}                                       



/*                         ABOUT PAGE     */


.about-text {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  width: 100%;
  align-items: center;
  
  }
  .about-me {
    font-family: 'open sans';
     color: white;
     -webkit-animation: fadeInLeft 6s forwards; 
     animation: fadeInLeft 6s forwards;
   }
   
   
  
  .about-me span{
    font-family: 'open sans';
     color:#41aedd
  }
  
  .about-description {
    max-width: 700px;
     font-family: 'open sans';
     color: white;
     animation: fadeIn 3s; 
  
     
  }



/*             FAVORITE MOVIE   */

.fav-container{
margin-top: 50px;
}

.fav-card{
  background-color: transparent;
}

.fav-text{
  font-family: 'open sans';
  color: white;
}

.fav-button {
  border: 1px solid white;
  color: white;
  font-family: 'open sans';
}

.fav-button:hover {
  color: #ED116B;
}

.fav-clear{
margin-top: 20px;
background-color: #ED116B;
margin-bottom: 20px;
border-radius: 20px;
color: white;
}


.nothing-yet{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
   height: 80vh;
   font-family: 'open sans';
  /*width: 80vh; */
}



/*                     WELCOME PAGE          */



.welcome-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.form-welcome{
  display: flex;
  flex-direction:column;
}

.form-welcome p{
  color: white;
  font-family: 'open sans';
  font-size: 20px;
}

.form-welcome button {
  background-color:#ED116B;
  border: none;
  font-family: 'open sans';
  width: 280px;
  height: 50px;
  margin-top: 20px;
}